@using StronglyTypedViewApp.Model
@model IEnumerable<Customer>

<h2>Customer List</h2>

<style>
    th, td {
        padding: 8px;
    }
</style>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Name</td>
                <td>@customer.City</td>
            </tr>
        }
    </tbody>
</table>